<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--<form method="post" action="/auth/process_login">-->
<!--    &lt;!&ndash;<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> &ndash;&gt;-->
<!--    <label for="username">Введите имя пользователя:</label>-->
<!--    <input type="text" name="username" id="username"/>-->
<!--    <br/>-->
<!--    <label for="password">Введите пароль:</label>-->
<!--    <input type="password" name="password" id="password"/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Login"/>-->


<!--</form>-->
<form method="post" action="/auth/process_login" th:object="${user}">
    <label>
        <input type="text" th:field="*{email}" placeholder="Элктронная почта"/>
    </label>
    <br>
    <label>
        <input type="password" th:field="*{password}" placeholder="Пароль"/>
    </label>
    <br>
    <button type="submit">Login</button>
    <br>
    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
    <br>
    Нет аккаунта? <a href="/auth/registration">Зарегистрироваться</a>

</form>
</body>
</html>