<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}">
</head>
<body>

<form method="post" action="/auth/process_login" th:object="${user}">
    <label>
        <input type="text" th:field="*{email}" placeholder="Электронная почта"/>
    </label>
    <br>
    <label>
        <input type="password" th:field="*{password}" placeholder="Пароль"/>
    </label>
    <br>
    <button type="submit">Login</button>
    <br>
    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
    <br>
    Нет аккаунта? <a href="/auth/registration">Зарегистрироваться</a>

</form>
</body>
</html>