<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>

<form method="post"
      th:action="@{/auth/perform_registration}"
      th:object="${user}">

  <label>
    <input type="text"
           th:field="*{fullName}"
           placeholder="Имя"/>
  </label>

  <div th:if="${#fields.hasErrors('fullName')}"
       class="field-error"
       th:errors="*{fullName}">
  </div>

  <br>

  <label>
    <input type="text"
           th:field="*{email}"
           placeholder="Электронная почта"/>
  </label>

  <div th:if="${#fields.hasErrors('email')}"
       class="field-error"
       th:errors="*{email}">
  </div>

  <br>

  <label>
    <input type="password"
           th:field="*{password}"
           placeholder="Пароль"/>
  </label>

  <div th:if="${#fields.hasErrors('password')}"
       class="field-error"
       th:errors="*{password}">
  </div>

  <br>

  <button type="submit">Register</button>

  <div th:if="${error != null}"
       class="form-error"
       th:text="${error}">
  </div>

  <br>

  <div class="auth-link">
    Есть аккаунт?
    <a href="/auth/login">Войти</a>
  </div>

</form>

</body>
</html>