<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Main page</title>
</head>
<body>
<div class="page-wrapper">

    <header class="page-header">
        <div class="page-header__inner">
            <a class="page-header__link" href="/users">Все пользователи</a>

            <a class="page-header__user" th:href="@{/me}">
                <span th:text="${currentUser.fullName()}"></span>

                <img class="page-header__avatar"
                     th:if="${currentUser.profilePictureUrl() != null}"
                     th:src="${'http://localhost:8080/api' + currentUser.profilePictureUrl()}"
                     alt="Profile Picture">

                <img class="page-header__avatar"
                     th:unless="${currentUser.profilePictureUrl() != null}"
                     src="/images/default-profile.png"
                     alt="Default Profile Picture">
            </a>
        </div>
    </header>

    <main class="container">
        <div class="header-container">
            <div class="header__text">
                <h2>All Posts</h2>
            </div>
        </div>

        <div class="actions">
            <a class="primary-button" href="/posts/create">Create post</a>
        </div>

        <div th:with="isPostsEmpty=${posts == null or posts.isEmpty()}" class="records-container">
            <div th:if="${isPostsEmpty}" class="hint">
                <span>There are no posts!</span>
            </div>

            <a th:if="${!isPostsEmpty}"
               th:each="post : ${posts}"
               class="record record-link"
               th:href="@{/posts/{postId}(postId=${post.id})}">

                <div class="record__title" th:text="${post.title}"></div>

                <div class="record__text" th:text="${post.text()}"></div>

                <div class="post-images"
                     th:if="${post.postImageContainerDto() != null && !post.postImageContainerDto().getPostImages().isEmpty()}">
                    <div class="post-image-wrapper"
                         th:each="image : ${post.postImageContainerDto().getPostImages()}">
                        <img class="post-image"
                             th:src="${'http://localhost:8080/api' + image.imageUrl()}"
                             alt="Post image">
                    </div>
                </div>
            </a>
        </div>
    </main>

</div>
</body>
</html>